<header>
    <div class="mainNavigation__container | medium-12 full-width">
        <div class="row">
            <div class="mainNavigation__brand | medium-2 columns">
                <h1>Matters</h1>
            </div>

            <div class="mainNavigation__filters | medium-10 columns">
                <div class="mainNavigation__inputBox | medium-4 columns">
                    <input client-name-input type="text" placeholder="filter by client" ng-model="filter.name" />
                </div>

                <div class="mainNavigation__inputBox | medium-4 columns">
                    <input type="text" placeholder="filter by keyword"  ng-model="filter.keyword"/>
                </div>

                <div class="mainNavigation__inputBox | medium-4 columns end | | push-down-10 ">
                    <input type="checkbox"/> <label>Hide closed matters</label>
                </div>
            </div>
        </div>

    </div>
</header>
