<div class="sidePanel__container | medium-3 columns">
    <div class="sidePanel__selectAll | row">
        <input type="checkbox" select-all ng-model="filter.selectAll" /> <label>Select All</label>
    </div>

    <div class="sidePanel__messageList__container | medium-12">
        <div class="sidePanel__messageList | medium-12 column"
             ng-repeat="client in matters | filter: filter.clientName ">
                <div class="sidePanel__clientBar | medium-12">
                    <p>{{client.client_name}}</p>
                </div>
                <div class="sidePanel__clientMessages | medium-12"
                     ng-repeat="matter in client.matters | hideClosedMatters:this | filter: filter.keyword">
                    <message-template checkbox="{{filter.selectSingle}}"
                                      desc="{{matter.description}}"
                                      number="{{matter.number}}"
                                      status="matter.status"
                                      hash_id="{{matter.id}}">
                    </message-template>
                </div>

        </div>
    </div>


</div>
