.sidePanel__clientMessages {
    cursor: pointer;
}
.sidePanel__container {
    border:             1px solid #444;
    margin:             0;
    padding:            0;


}

.sidePanel__messageList__container {
    height:             550px;
    overflow-y:         scroll;
}

.sidePanel__messageList {
    margin:             0;
    padding:            0;


}

.sidePanel__clientBar {
    background-color:   #aaa;
    padding:            0 0px;

}


.sidePanel__messageList p {
    padding:            0 10px;
    margin:             0;

}

p.clientMessages__description {
    font-size:         .75em;
    padding-bottom:     20px;
}


.sidePanel__checkbox {
    padding:            0;
    margin:             0;

}

.sidePanel__contents {
    padding:           0;
    margin:            0;
}

.sidePanel__dropdown select {
    background-color:transparent;
    border: none;
    cursor: pointer;
}
